@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #333333;
}

/* headings and title */

h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #008080;

}

#title {
    float: left;
    font-size: 280%;
}

/* navigation */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu,
#title {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: #333333;
}

#menu a:hover {
    border-bottom: 1px solid #333333;
}

.active {
    border-bottom: 1px solid #333333;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    overflow: hidden;
}

/* home */

#welcome {
    text-align: center;
    margin: 20px;
    font-size: 200%;
    text-transform: none;
}

#center-about {
    font-family: Roboto, sans-serif;
    width: 60%;
    text-align: center;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
    margin: 0 auto;
    font-size: 150%;
    color: #333333;

}

/* about us */

#about-us {
    text-align: center;
    margin-top: 100px;
    font-size: 200%;
    text-transform: none;
}

.creators-left {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

#first-creator {
    background: url(../images/first-creator.jpg) no-repeat center center;
    width: 230px;
    height: 230px;
    float: left;
    padding: 30px;
    margin-right: 0px;
    border-radius: 50%;
}

.first-creator-text {
    width: 30%;
    height: 230px;
    margin-top: 40px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 20px 40px 5px;
    border: 1px solid #008080;
    background-color: rgba(128, 128, 128, 0.1);
}

.creators-right {
    margin-right: 10px;
    display: flex;
    flex-direction: row-reverse;
}

#second-creator {
    background: url(../images/second-creator.jpg) no-repeat center center;
    width: 230px;
    height: 230px;
    float: right;
    padding: 30px;
    margin-left: 0px;
    border-radius: 50%
}

.second-creator-text {
    position: relative;
    width: 30%;
    height: 230px;
    margin-top: 40px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 40px 20px 5px;
    border: 1px solid #008080;
    background-color: rgba(128, 128, 128, 0.1);
}

#third-creator {
    background: url(../images/third-creator.jpg) no-repeat center center;
    width: 230px;
    height: 230px;
    float: left;
    padding: 30px;
    border-radius: 50%
}

.third-creator-text {
    width: 30%;
    height: 230px;
    margin-top: 40px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 20px 40px 5px;
    border: 1px solid #008080;
    background-color: rgba(128, 128, 128, 0.1);
}


.first-creator-text>p {
    text-align: justify;
    clear: both;
    margin-top: 5px;
}

.second-creator-text>h2 {
    margin-right: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;

}

.second-creator-text>p {
    text-align: justify;
    clear: both;
    margin-top: 30px;
}

.third-creator-text>p {
    text-align: justify;
    clear: both;
    margin-top: 5px;
}

/* let's meet */

.lets-meet {
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 100%;
}

.lets-meet h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: none;
}

.lets-meet p {
    margin-top: 15px;
}

.top1 {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    height: 300px;
}

.top {
    width: 250px;
    height: 250px;
    padding: 30px 10 10 30px;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
}

.top1 h2 {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    text-transform: none;
    color: #008080;

}

.top p {
    text-align: center;
    font-size: 85%;
    margin: 10px;
    color: #008080;
    font-weight: 600;
}

.bottom1 {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    height: 300px;
}

.bottom {
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 30px 10 10 30px;
    border-radius: 10px;
}

.bottom1 h2 {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    text-transform: none;
    color: #008080;
}

.bottom p {
    text-align: center;
    font-size: 85%;
    margin: 10px;
    font-weight: 600;
    color: #008080;
}

/* sign up and contact us */

.sign-up-and-contact {
    display: flex;
    flex-flow: row;
    background-color: rgba(128, 128, 128, 0.1);
    margin: 70px 0 70px 0;
}

.sign-up {
    width: 50%;
    height: 500px;
}

.contact {
    width: 50%;
    height: 500px;
}

.signup-form {
    padding: 50px;
}

.signup-form h2 {
    color: #008080;
    margin-bottom: 20px;
    text-align: center;
    text-transform: none;
}

.text-input {
    background: transparent;
    color: #008080;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #008080;
    border-radius: 2px;
    display: block;
}

.text-input:hover {
    border-color: #008080;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #008080;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #008080;
}

.contact-us h2 {
    padding: 50px;
    text-align: center;
    text-transform: none
}

.contact-us p {
    margin-bottom: 30px;
    text-align: center;

}

.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;

}

footer {
    color: #fafafa;
    background-color: #008080;
    padding: 1em;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 3;
}