@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #333333;
}

/* headings and title */

h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #008080;

}

#title {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu,
#title {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: #333333;
}

#menu a:hover {
    border-bottom: 1px solid #333333;
}

.active {
    border-bottom: 1px solid #333333;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    overflow: hidden;
}

/* home */

#welcome {
    text-align: center;
    font-size: 25px;
    text-transform: none;
    margin-top: 15px;
}

#center-about {
    font-family: Roboto, sans-serif;
    width: 80%;
    text-align: center;
    clear: both;
    margin: 0 auto;
    font-size: 15px;
    color: #333333;
    margin-top: 15px;
}

/* about us */

#about-us {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    text-transform: none;
}

.creators-left {
    display: flex;
    flex-direction: row;
}

#first-creator {
    background: url(../images/first-creator.jpg) no-repeat center center;
    width: 230px;
    margin-left: 30px;
    margin-top: 25px;
    height: 230px;
    float: left;
    padding: 30px;
    margin-right: 0px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.first-creator-text {
    width: 30%;
    height: 180px;
    margin-top: 50px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 20px 40px 5px;
    border: 1px solid #008080;
    background-color: rgba(128, 128, 128, 0.1);
    overflow: hidden;
    text-align: center;
}

.creators-right {
    display: flex;
    flex-direction: row-reverse;
}

#second-creator {
    background: url(../images/second-creator.jpg) no-repeat center center;
    width: 230px;
    margin-right: 30px;
    margin-top: 30px;
    height: 230px;
    float: right;
    padding: 30px;
    margin-right: 25px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.second-creator-text {
    width: 30%;
    height: 180px;
    margin-top: 50px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 40px 20px 5px;
    border: 1px solid #008080;
    background-color: rgba(128, 128, 128, 0.1);
    overflow: hidden;
    text-align: center;
}

#third-creator {
    background: url(../images/third-creator.jpg) no-repeat center center;
    width: 230px;
    margin-left: 30px;
    margin-top: 25px;
    height: 230px;
    float: left;
    padding: 30px;
    margin-right: 0px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.third-creator-text {
    width: 30%;
    height: 180px;
    margin-top: 50px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 20px 40px 5px;
    border: 1px solid #008080;
    background-color: rgba(128, 128, 128, 0.1);
    overflow: hidden;
    text-align: center;

}


.first-creator-text>p {
    display: inline-block;
    clear: both;
    margin-top: 5px;
    font-size: 14px;

}

.second-creator-text>h2 {
    text-align: center;
}

.second-creator-text>p {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.third-creator-text>p {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

/* let's meet */

.center {
    text-align: center;
    margin-top: 80px;
    text-transform: none;
}

.meeting-details {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    height: 180px;
    width: 100%;
}

.days-and-times {
    height: 150px;
    width: 33%;
}

.days>span {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}

.days-and-times>h2 {
    text-align: center;
    font-size: 20px;
    text-transform: none;
    margin-top: 5px;
}

.days-and-times>p {
    text-align: center;
    font-size: 18px;
    padding: 1.5em;
}

.top1 {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;

}

.top {
    width: 250px;
    height: 250px;
    padding: 30px 10 10 30px;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #008080;
    overflow: hidden;
}

.top1 h2 {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    text-transform: none;
    color: #008080;

}

.top p {
    text-align: center;
    font-size: 85%;
    padding: 5px;
    color: #008080;
    font-weight: 600;
}

.bottom1 {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;

}

.bottom {
    width: 250px;
    height: 250px;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 30px 10 10 30px;
    border-radius: 10px;
    border: 1px solid #008080;
    box-sizing: border-box;
    overflow: hidden;

}

.bottom1 h2 {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    text-transform: none;
    color: #008080;
}

.bottom p {
    text-align: center;
    font-size: 85%;
    padding: 5px;
    font-weight: 600;
    color: #008080;
}

/* sign up and contact us */

.sign-up-and-contact {
    display: flex;
    flex-flow: row;
    background-color: rgba(128, 128, 128, 0.1);
    height: 400px;
}

.sign-up {
    width: 50%;
}

.contact {
    width: 50%;
}

.signup-form {
    padding: 30px;
}

.signup-form h2 {
    color: #008080;
    margin-bottom: 20px;
    text-align: center;
    text-transform: none;
}

.text-input {
    background: transparent;
    color: #008080;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #008080;
    border-radius: 2px;
    display: block;
}

.text-input:hover {
    border-color: #008080;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #008080;
    color: #fafafa;
    display: block;
    margin: 0 auto;
}

.join-button:hover {
    background-color: #fafafa;
    color: #008080;
}

.contact-us h2 {
    padding: 60px;
    text-align: center;
    text-transform: none
}

.contact-us p {
    margin-bottom: 30px;
    text-align: center;

}

.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;

}

/* footer */

footer {
    background-color: #008080;
    width: 100%;
    height: 60px;
}

footer>p {
    color: #fafafa;
    text-align: center;
    padding: 1.25em;
    font-weight: 500;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #home {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
        padding: 30px 0;
        margin: 0
    }

    .creators-left {
        padding: 0;

    }

    .first-creator-text,
    .third-creator-text {
        width: 50%;
        margin-right: 20px;
        height: 180px;
    }

    .first-creator-text>p,
    .third-creator-text>p,
    .second-creator-text>p {
        width: 100%;
        padding: 0.25em;
    }

    .creators-right {
        padding: 0;
    }

    .second-creator-text {
        width: 50%;
        margin-left: 20px;
        height: 180px;
    }

    .top {
        width: 21%;
        height: 70%;
        font-size: 80%;
    }

    .bottom {
        width: 21%;
        height: 70%;
        font-size: 80%;
    }

    .sign-up {
        font-size: 12px;
    }

    .contact {
        font-size: 15px;
    }
}


/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .first-creator-text,
    .third-creator-text {
        width: 100%;
        margin-right: 20px;
        height: 180px;
        text-align: center;
    }

    #first-creator {
        padding: 0px;
        margin-top: 30px;
    }

    #second-creator {
        padding: 0px;
        margin-top: 30px;
    }

    #third-creator {
        padding: 0px;
        margin-top: 30px;
    }

    .first-creator-text>p,
    .third-creator-text>p,
    .second-creator-text>p {
        width: 100%;
        padding: 0.2em;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .second-creator-text {
        width: 50%;
        margin-left: 20px;
        height: 180px;
        text-align: center;
    }

    .days-and-times>p {
        font-size: 14px;
    }

    .top1 {
        flex-wrap: wrap;
    }

    .top {
        width: 40%;
        height: 45%;
        font-size: 70%;
    }

    .bottom1 {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .bottom {
        width: 40%;
        height: 45%;
        font-size: 70%;
    }

    .sign-up {
        font-size: 10px;
    }

    .contact {
        font-size: 15px;
    }
}

/* For small screen sizes 800px and down */

@media screen and (max-width: 700px) {
    #menu {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 11px;
    }

    .creators-left {
        display: block;
    }

    .creators-right {
        display: block;
    }


    .first-creator-text,
    .third-creator-text {
        width: 70%;
        height: 180px;
        text-align: center;
        border-radius: 10%;
        margin-left: 10%;
    }

    #first-creator {
        padding: 0px;
        margin-left: 20%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #second-creator {
        padding: 0px;
        margin-right: 20%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #third-creator {
        padding: 0px;
        margin-left: 20%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .first-creator-text>p,
    .third-creator-text>p,
    .second-creator-text>p {
        width: 100%;
        padding: 0.2em;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .second-creator-text {
        width: 70%;
        margin-left: 50px;
        height: 180px;
        text-align: center;
        border-radius: 10%;
        margin-left: 10%;
    }

    .days-and-times>p {
        font-size: 14px;
    }

    .top1 {
        display: block;
        height: 400px;
        margin-top: 20px;
    }

    .top {
        width: 100%;
        height: 25%;
        font-size: 50%;
    }

    .top>h2 {
        font-size: small;
        margin-top: 5px;
    }

    .bottom1 {
        display: block;
        height: 400px;
    }

    .bottom {
        width: 100%;
        height: 25%;
        font-size: 50%;
    }

    .bottom>h2 {
        font-size: small;
        margin-top: 5px;
    }

    .sign-up {
        font-size: 10px;
    }

    .contact {
        font-size: 15px;
    }

    .days-and-times>p {
        font-size: 70%;
    }

    .days-and-times>h2 {
        font-size: 70%;
    }

    .days-and-times li {
        font-size: 70%;
    }

}