@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #333333;
}

/* headings and title */

h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #008080;

}

#title {
    float: left;
    font-size: 280%;
}

/* navigation */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu,
#title {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: #333333;
}

#menu a:hover {
    border-bottom: 1px solid #333333;
}

.active {
    border-bottom: 1px solid #333333;
}

/* hero image */

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    overflow: hidden;
}

/* home */

#welcome {
    text-align: center;
    margin: 20px;
    font-size: 200%;
    text-transform: none;
}

#center-about {
    font-family: Roboto, sans-serif;
    width: 60%;
    text-align: center;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
    margin: 0 auto;
    font-size: 150%;
    color: #333333;

}

/* about us */

#about-us {
    text-align: center;
    margin: 20px;
    font-size: 200%;
    text-transform: none;
}

.creators-left {
    margin: 30px;
    display: flex;
    flex-direction: row;
}

#first-creator {
    background: url(../images/first-creator.jpg) no-repeat center center;
    width: 230px;
    height: 230px;
    float: left;
    padding: 30px;
    margin: 30px;
    margin-right: 0px;
    border-radius: 50%;
}

.first-creator-text {
    width: 30%;
    height: 230px;
    margin: 30px;
    border: 2px solid black;
    padding: 30px;
    margin-left: 0px;
}

.creators-right {
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
}

#second-creator {
    background: url(../images/second-creator.jpg) no-repeat center center;
    width: 230px;
    height: 230px;
    float: right;
    padding: 30px;
    margin: 30px;
    margin-left: 0px;
    border-radius: 50%
}

.second-creator-text {
    width: 30%;
    height: 230px;
    margin: 30px;
    margin-right: 0px;
    border: 2px solid black;
    padding: 30px;

}

#third-creator {
    background: url(../images/third-creator.jpg) no-repeat center center;
    width: 230px;
    height: 230px;
    float: left;
    padding: 30px;
    margin: 30px;
    margin-right: 0px;
    border-radius: 50%
}

.third-creator-text {
    width: 30%;
    height: 230px;
    margin: 30px;
    border: 2px solid black;
    padding: 30px;
    margin-left: 0px;
}